#titulo{
    background-color: black;
    color: white;
    height: 100px;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;

}

#footer{
    background-color: black;
    color: white;
    height: 100px;
    width: 100%;
    text-align: center;
    justify-content: center;
    position: absolute;

}